<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOTAlertSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A4A394B1C5586FE0070B819</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A4A395F1C5586FF0070B819</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A4A396A1C5586FF0070B819</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
